body {
  font-family: "arial";
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}
header {
  background-color: #171717;
  overflow: hidden;
  padding: 15px;
}
header h1 {
  margin: 0;
  color: #bababa;
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 60px;
  font-weight: 700;
  font-size: 26px;
}
a {
  text-decoration: none;
  color: #000000;
}
header a{
  color: #bababa;
  display: block;
  padding: 5px;
}
header a:hover{
  background-color: #bababa;
  color: #171717;
}
header ul{
  margin: none;
  padding: none;
  list-style: none;
}
header ul li{
  display: inline-block;
}
header nav{
  float: right;
}
img{

  display: block;
  width: 100%
}
#noticias-destacadas{
  width: calc(100vw * 3);
  overflow: hidden;
  background-color: #171717;
  position: relative;
  animation: 15s slider infinite;
}
#noticias-destacadas figure {
  width: 100vw;
  float: left;
}
#noticias-destacadas h2{
  font-size: 42px;
  font-weight: 600;
  background-color: #171717;
  padding: 10px;
  color: #FFF;
}

.noticia { /* contenedor flexible */
display: flex;
flex-direction: row;
justify-content: space-evenly; /* flex-star¡ center¡ flex-end¡ space-around ¡ flex-end ¡ */
align-items: center; /* flex-star ¡ center ¡ flex-end ¡ strech */

border-bottom: solid 1px #ccc;
margin-left: 15px;
margin-right: 15px;

padding-top: 15px;
padding-bottom: 15px;

}

.noticia: last-child {
  border: none;
}

.noticia-img { /*item flexible */

  width: 25%;
}

.noticia-txt { /*item flexible */
  width: 65%;
  line-height: 1.5;

}
.noticia-txt h3 {
  font-size: 24px;
  font-weight: 600;
}

.noticia-txt a {
  color: #000;
  font-weight: 600;
}









 /* Animaciones CSS */
 @keyframes slider {

   0% {
     left: 0;
   }
   20% {
     left: 0;
   }
   40% {
     left: -100vw;
   }
   60% {
     left: -100vw;
   }
   80% {
     left: -200vw;
   }
   100% {
     left: 0vw;
   }
}
